{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>William Chandler | Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Inria+Serif:400,700|Montserrat&display=swap" rel="stylesheet">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/image1.gif' %}" alt="Alan Smith" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">William Chandler</h1>
			<h2 class="quickFade delayThree">Web Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:william.d.chandler1@gmail.com" target="_blank">william.d.chandler1@gmail.com</a></li>
				<li>w: <a href="http://www.wdchandler.com">http://www.wdchandler.com</a></li>
				<li>m: (502)263 - 3992</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Summary</h1>
				</div>
				
				<div class="sectionContent">
					<p>Software professional looking to apply 20+ years of in-the-field leadership and coordination skills to solving technology problems and providing software solutions. Strong background in planning, directing, and assigning assets to achieve goals in a highly charged and fast-paced environment.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Assistant Paralegal at Fragomen Worldwide LLC</h2>
					<p class="subDetails">April 2017 - May 2018</p>
					<p>•	Responsible for analyzing case documents and preparation of immigration applications for filing with the appropriate government agency. <br>
						•	Drafted petitions, applications and specialized support letters detailing eligibility for Visa classifications and other immigration benefits.<br>
						•	Closely collaborated with corporate representatives and foreign nationals.<br>
						•	Expert knowledge of procedural and processing requirements for various types of non-immigrant and immigrant visa petitions and applications.
						</p>
				</article>
				<br>
				<article>
					<h2>Digital Marketing Specialist at Fragomen Electrical Services</h2>
					<p class="subDetails">April 2016 - April 2017</p>
					<p>	•	Created and implemented a system designed to measure the effectiveness of all marketing campaigns, and used this system to report measurable results to leadership. <br>
						•	Responsible for the growth of the client base by cultivating new leads by increasing site traffic through calls-to-action, landing pages, and lead generation content.<br>
						•	Helped increased website traffic by 30% over the previous year by improving the company’s social media presence, website ranking and visibility within the local community.<br>
						•	Developed multi-platform advertising campaign for upcoming company events.<br>
						•	Directly responsible for the optimization of the company’s marketing automation and lead nurturing processes through email, video content, and social media channels.<br>
						•	Oversaw the marketing budget, while ensuring that marketing strategies remained in line with company objectives.
</p>
				</article>
				<br>
				<article>
					<h2>Medical Specialist at United States Army</h2>
					<p class="subDetails">August 1994 - June 2016</p>
					<p>	•	Successfully managed and coordinated up to 25 different deployment teams simultaneously from all over the world to succeed in a highly stressful and arduous deployment environment.<br>
						•	Negotiated with Afghan and Iraqi Health Officials to administer over 1 million lifesaving immunizations across more than 300 villages and cities. <br>
						•	Leadership responsibilities included: training soldiers; planning, assigning, and directing deployment assets; appraising performance; rewarding and disciplining soldiers; and resolving logistical issues.<br>
						•	Served as key member of implementation teams, focusing on the management of both system and heath care administration projects within assigned areas from inception to successful implementation.<br>
						•	Directed and trained a staff of 17 medics performing instruction and documenting coursework for soldier evaluations in support of maintenance standardization programs.<br>
						•	Reviewed training and managerial processes to ensure compliance with standards and meet deadlines. 
</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>HTML</li>
					<li>CSS/SASS</li>
					<li>JavaScript</li>
					<li>React</li>
					<li>NodeJS</li>
					<li>Python/Django</li>
					<li>MongoDB/SQL</li>
					<li>Bootstrap/Materialize</li>
					<li>Agile Principles</li>
					<li>Adobe Create Suite</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Bay State College</h2>
					<p class="subDetails">Graduation: May 2019</p>
					<p>Bachelor of Science in Information Technology, Web & Development Concentration</p>
				</article>
				<br>
				<article>
					<h2>Post University</h2>
					<p class="subDetails">Graduation: October 2016</p>
					<p>Bachelor of Science in Management</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>